<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <div style=" margin: 0 0 20px;">
            <img src="{{site.logo | relative_url}}" alt="Headshot" style="max-width: 140px; border-radius: 5px;" />
          </div>
        {% endif %}

        <div class="sidebar-contact">
          <h3>Contact</h3>
          <ul class="contact-list" style="list-style-type: none; padding-left: 0;">
            {% if site.author.email %}
            <li style="margin-bottom: 8px;">
              <a href="mailto:{{ site.author.email }}">
                {{ site.author.email }}
              </a>
            </li>
            {% endif %}

            {% if site.author.github %}
            <li style="margin-bottom: 8px;">
              <a href="https://github.com/{{ site.author.github }}">
                GitHub: github.com/{{ site.author.github }}
              </a>
            </li>
            {% endif %}

            {% if site.author.linkedin %}
            <li style="margin-bottom: 8px;">
              <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}">
                linkedin.com/in/{{ site.author.linkedin }}
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Powered by <a href="https://pages.github.com">GitHub Pages</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>